{:linters
 {:clj-kondo.core/missing-ns
  {:severity :error}
  :unresolved-symbol {:exclude #{clojure.core/nil?}}}
 :paths ["src" "apps" "libs"]
 :output {}
 :analysis {:jvm true
            :namespaces [:require :use :import]
            :aliases {:spec 'clojure.spec.alpha}
            :namespaced-keywords true}}
